.main{
    min-height: 600px;
}

.nav-left{
    margin-top: 50px;
    text-align: left;
}

.left-bar ul{
    list-style-type: none;
    padding:0;
    border-top: 1px solid #c7c8ca;
    border-bottom: 1px solid #c7c8ca;
    width: 60%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.left-bar nav li{
    padding: 3px 3px;
    cursor: pointer;
}
.col{
    display: inline-block;
}
.product-main img{
    width: 100%;
    max-height: 350px;
}
.btn.btn-link{
    border: 1px solid #007bff;
} 