header{
    background: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 99;
}

header .logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.cart{
    color: #fff;
    cursor: pointer;
}

.cart-container{
    background-color: #fff;
    width: 100vw;
    right: -101vw;
    margin-top: 50px;
    height: 94vh;
    position: fixed;
    z-index: 100;
    transition: ease 1s;
}

.cart-container.active{
    right: 0;
}
.cart-img img{
    width: 50px;

}